.task-container{
    padding-bottom: 3%;
    margin-left: 2%;
    margin-top: 5%;
}

.task-container h1{
    color: white;
    text-align: left;
    padding-bottom: 5%;
}

.taskItem{
    font-size: small;
}





